<!DOCTYPE html>
<html>
    
{% extends "base.html" %}
{% block body %}
    
<body>
    <div class="keskita2">
    {% if submitted %}
        <h1 class="kiitos">Kiitos ajanvarauksesta!</h1>
    {% else %}

    <form action="" method=POST>
    <h1 id="av-otsikko">Ajanvaraus</h1>
    
    <div class="henk-wrapper">
    <h3> Henkilötiedot </h3>    
        {% csrf_token %}
    <div class="nimi-p">
            <p>Nimi</p>
            {{ form.nimi }}</div>
    <div class="sp-p">
        <p>Sähköposti</p>
        {{ form.sposti }} </div>
    <div class="puh-p">
        <p>Puhelinnumero</p>
        {{ form.puh }} </div>
    <div class="osoite-p">
        <p>Osoite</p>
        {{ form.osoite }} </div>
    </div>

    <div class="auto-wrapper">
    <h3> Auton tiedot </h3>  

    <div class="rekisterinumero-p">
        <p>Rekisterinumero</p>
        {{ form.rekisterinumero }} </div>
    <div class="vuosimalli-p">
        <p>Vuosimalli</p>
        {{ form.vuosimalli }} </div>
    <div class="merkki-p">
        <p>Merkki</p>
        {{ form.merkki }} </div>
    <div class="malli-p">
        <p>Malli</p>
        {{ form.malli }} </div>
    <div class="kilometrit-p">
        <p>Kilometrit</p>
        {{ form.kilometrit }} </div>
    </div>

    <div class="lt-p">
        <p>Lisätiedot</p>
        {{ form.lisatiedot }} </div>

    <div class = "huolto-wrapper">
    <h3> Huollon tiedot </h3>
    <p>Ensisijainen toivottu huoltoaika</p>
        {{ form.pvm }}
        {{ form.klo }}
    

<!-- Yritin vaan jotain, tohon alapuolelle pitäs tehä se dropdown lista -->
    <select name="palvelu" id="palvelu" class="av-form-elem">
        <option value="a">Valitse palvelu</option>
        {% for palvelu in palvelut %}          
        <option value="b">{{palvelu.palvelu}}</option>
        {% endfor %}
    </select>
    </div>

    <input type="submit" value="Varaa aika" class="palaute_painike">
    </form>   
    {% endif %}
    
</body>
    
{% endblock %}
</html>