<!-- Header ja footer -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css'%}"> 
</head>    

<header>
    <title>Lahonen</title>
    <a href="{% url 'etusivu' %}"> <img class="logo" src="{% static 'lahonen.png' %}" alt="Lahonen"> </a>
    <nav>   
        <ul class="nav-links">
            <li><a href="{% url 'etusivu' %}">Etusivu</a></li>
            <li><a href="{% url 'palvelut' %}">Palvelut</a></li>
            <li><a href="{% url 'yhteystiedot' %}">Yhteystiedot</a></li>
            <li><a href="{% url 'palaute' %}">Palaute</a></li>
            <li><a href="{% url 'palautelomake' %}">Palautelomake</a></li>
        </ul>
    </nav> 
</header>

{% block body %}{% endblock %}

<footer>
    <h3>footer</h3>
</footer>
</html>