<!-- Header ja footer -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css'%}">
    <link rel="shortcut icon" href="{% static 'auto.png' %}"/>
</head>    

<header>
    <title>Lahonen</title>
        <a href="{% url 'etusivu' %}"> <img class="logo" src="{% static 'lahonen_W.png' %}" alt="Lahonen"> </a>
    <nav>   
        <ul class="nav-links">
            <li><a href="{% url 'etusivu' %}">Etusivu</a></li>
            <li><a href="{% url 'palvelut' %}">Palvelut</a></li>
            <li><a href="{% url 'yhteystiedot' %}">Yhteystiedot</a></li>
            <li><a href="{% url 'palautelomake' %}">Palaute</a></li>
        </ul>
    </nav> 
</header>

<div class="wrapper">
{% block body %}{% endblock %}
</div>

<footer>
    <div class="aukioloajat">
        <h3>Aukioloajat</h3>
        <ul class="ao-lista">
            <li>Ma-pe: 8-19</li>
            <Li>La: 10-17</Li>
            <li>Su: 10-15</li>
        </ul>
    </div>

    <div class="yhteystiedot">
        <h3>Yhteystiedot</h3>
        <ul class="yt-lista">
            <li>Puh: 0453490412</li>
            <Li>S-posti: asiakaspalvelu@lahonen.com</Li>
            <li>Osoite: Laholaisentie 11, 90800 Oulu</li>
        </ul>
    </div>     
</footer>
</html>