<!-- Header ja footer -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css'%}"> 
    <link rel="shortcut icon" href="{% static 'auto.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>    

<header>
    <title>Lahonen</title>
        <a href="{% url 'etusivu' %}"> <img class="logo" src="{% static 'lahonen_W.png' %}" alt="Lahonen"> </a>
    <nav>   
        <ul class="nav-links">
            <li><a href="{% url 'etusivu' %}">Etusivu</a></li>
            <li><a href="{% url 'palvelut' %}">Palvelut</a></li>
            <li><a href="{% url 'yhteystiedot' %}">Yhteystiedot</a></li>
            <li><a href="{% url 'ajanvaraus' %}">Ajanvaraus</a></li>
            <li><a href="{% url 'palautelomake' %}">Palaute</a></li>
        </ul>

        <div class="menuburger"> 
            <p onclick="menu()">&#9776;</p>
        </div>
        <ul id="menu" class="mobile-nav-links">
            <li><a href="{% url 'etusivu' %}">Etusivu</a></li>
            <li><a href="{% url 'palvelut' %}">Palvelut</a></li>
            <li><a href="{% url 'yhteystiedot' %}">Yhteystiedot</a></li>
            <li><a href="{% url 'ajanvaraus' %}">Ajanvaraus</a></li>
            <li><a href="{% url 'palautelomake' %}">Palaute</a></li>
        </ul>
    </nav>
</header>

<script type="text/javascript">

function menu(){
var menu = document.getElementById("menu")
if (menu.style.display === "block"){
    menu.style.display = "none";
} else {
    menu.style.display = "block";
}
}   

</script>

<div class="wrapper">
{% block body %}{% endblock %}
</div>

<footer>
    <div class="aukioloajat">
        <h3>Aukioloajat</h3>
        <ul class="ao-lista">
            <li>Ma-pe: 8-19</li>
            <Li>La: 10-17</Li>
            <li>Su: 10-15</li>
        </ul>
    </div>

    <div class="yhteystiedot">
        <h3>Yhteystiedot</h3>
        <ul class="yt-lista">
            <li>Puh: 0453490412</li>
            <Li>S-posti: asiakaspalvelu@lahonen.com</Li>
            <li>Osoite: Laholaisentie 11, 90800 Oulu</li>
        </ul>
    </div>     
</footer>
</html>