<!DOCTYPE html>
<html>
    
{% extends "base.html" %}
{% block body %}
    
    <body>
        <br/>
        <center>
        <div class="palaute_otsikko">
            <h1>Palautelomake</h1>
        </div>
        <br/><br/><br/><br/>
        {% if submitted %}
            Kiitos palautteesta!
        {% else %}

        <form action="" method=POST>
            {% csrf_token %}
            {{ form.nimi }}
            <br/><br/>
            {{ form.palaute }}
            <br/><br/>
            <input type="submit" value="Lähetä" class="palaute_painike">

        </form>
        {% endif %}
        </center>
    </body>
    
{% endblock %}
</html>