<!DOCTYPE html>
<html>
    
{% extends "base.html" %}
{% block body %}
    
    <body>
        <div class="keskita">
        <h1 id="palauteotsikko">Palautelomake</h1>
        <br/>
        <br/><br/><br/><br/>
        {% if submitted %}
            Kiitos palautteesta!
        {% else %}

        <form action="" method=POST>
            {% csrf_token %}
            {{ form.nimi }}
            <br/><br/>
            {{ form.sposti }}
            <br/><br/>
            {{ form.palaute }}
            <br/><br/>
            <input type="submit" value="Lähetä" class="palaute_painike">

        </form>
        {% endif %}
        </div>
    </body>
    
{% endblock %}
</html>