<!DOCTYPE html>
<html>
    
{% extends "base.html" %}
{% block body %}

    <body>
        <!-- <style>
            body {
               background-image: url("../static/workshop2.jpg"); 
              background-repeat: no-repeat;
            }
            </style> -->
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="{% static 'et_kuva1.jpg' %}" alt="Lahonen">
        </div>
        <div class="mySlides fade">
            <img src="{% static 'et_kuva2.jpg'%}" alt="Lahonen">
        </div>
        <div class="mySlides fade">
            <img src="{% static 'et_kuva3.jpg'%}" alt="Lahonen">
        </div>

        <a class="prev" onclick="lisays(-1)">&#10094;</a>
        <a class="next" onclick="lisays(+1)">&#10095;</a>
    </div>
        
        
        <div class="palvelut">
            <h1>Palvelut</h1>
            <h2> Tarjoamamme palvelut </h2>
        <ul>
        {% for palvelu in palvelut %}
            <li>{{palvelu}} {{palvelu.hinta}}</li>
            
            
        {% endfor %}
        </ul>
        </div>

        <script type="text/javascript">
            var kuvaIndeksi = 1;
            naytaNakymat(kuvaIndeksi);
    
            function lisays(n) {
                naytaNakymat(kuvaIndeksi = kuvaIndeksi + n);
            }
    
            function naytaNakymat(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                if (n > slides.length) {
                    kuvaIndeksi = 1
                } if (n < 1) {
                    kuvaIndeksi = slides.length
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[kuvaIndeksi - 1].style.display = "block";
            }
        </script>
    </body>
    
{% endblock %}
</html>