<!DOCTYPE html>
<html>
    
{% extends "base.html" %}
{% block body %}

    <body>
        <style>
            body {
               background-image: url("../static/workshop2.jpg"); 
              background-repeat: no-repeat;
            }
            </style>
        
        
        <div class="palvelut">
            <h1>Palvelut</h1>
            <h2> Tarjoamamme palvelut </h2>
        <ul>
        {% for palvelu in palvelut %}
            <li>{{palvelu}} {{palvelu.hinta}}</li>
            
            
        {% endfor %}
        </ul>
        </div>
    </body>
    
{% endblock %}
</html>