<!DOCTYPE html>
<html>
    
{% extends "base.html" %}
{% block body %}
{% load static %}

    <body>
        
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="{% static 'palvelu_kuva3.jpg' %}" alt="Lahonen">
        </div>
        <div class="mySlides fade">
            <img src="{% static 'palvelu_kuva2.jpg'%}" alt="Lahonen">
        </div>
        <div class="mySlides fade">
            <img src="{% static 'palvelu_kuva1.jpg'%}" alt="Lahonen">
        </div>

        <a class="prev" onclick="lisays(-1)">&#10094;</a>
        <a class="next" onclick="lisays(+1)">&#10095;</a>
    </div>
        
        
        <div class="palvelut">
            
            <h2> Tarjoamamme palvelut </h2>
            <br>
            
        <ul style="list-style: none;">
        {% for palvelu in palvelut %}
            <li>{{palvelu}} {{palvelu.hinta}}</li>
            
            
        {% endfor %}
        </ul>
        <br>
        <p>Eikö tarvitsemaasi palvelua löydy? Ota meihin yhteyttä!</p>
        </div>
        

        <script type="text/javascript">
            var kuvaIndeksi = 0;
            naytaNakymat(kuvaIndeksi);
    
            function naytaNakymat(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
    
                kuvaIndeksi++;
                if (kuvaIndeksi > slides.length) {
                    kuvaIndeksi = 1;
                }
                slides[kuvaIndeksi - 1].style.display = "block";
                setTimeout(naytaNakymat, 6000);
                    slides[kuvaIndeksi - 1].style.display = "block";
            }
        </script>
    </body>
    
{% endblock %}
</html>