/* HEADER */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
    background-color: #24252a;
    width: 100%;
    height: 115px;
    box-shadow: 0px 1px 3px;
    align-items: center;
  }
  
  .logo {
    cursor: pointer;
    margin-left: auto;
    resize: none;
    max-width: 230px;
    height: auto;
    width: 100%;
    transition: 0.5s;
  }
  
  .logo:hover {
    filter: grayscale(120%) brightness(40%) sepia(100%) hue-rotate(-35deg) saturate(550%) contrast(0.8);
  }
  
  .nav-links a{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    font-size: 18.3px;
    transition: 0.5s;
  }

  .mobile-nav-links {
    display: none;
  }
  
  .menuburger {
    display: none;
  }

  .nav-links li {
    padding: 0px 20px;
  }
  
  .nav-links li:nth-child(1) {
    padding: 0 20px 0 0;
  }
  
  .nav-links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav-links li a:hover {
    color: #E9724C;
  }

/* DEFAULT WRAPPER */

.wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 19.5px;
    min-height: 100vh;
}

.wrapper h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
    color: white;
    font-family: "Montserrat", sans-serif;
}

footer h3 {
    color: #E9724C
}

footer li {
    padding: 2px;
}

.ao-lista, .yt-lista{
    list-style: none;
    padding: 5px;
}

/* YHTEYSTIEDOT-SIVU */

.gmap_canvas {
    overflow:hidden;
    background:none !important;
    height: 100%;
    width: 100%;
  }


#gmap_canvas {
  border: 1.4px solid #E9724C;
  width: 100%;
  height: 100%;
}


.mapouter {
  position:relative;
  text-align:right;
  height:500px;
  max-width:500px;
  width: 100%;
}

.yt-wrapper {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    height: 83vh;
    width: 100%;
}

.yhteystiedot {
    padding-top: 20px;
    padding-bottom: 20px;
}

.palaute a {
    color: #E9724C;
    text-decoration: none;
    font-weight: bold;
}

.palaute p {
  padding: 2px;
}

.palaute {
  padding-bottom: 20px;
}

/* ETUSIVU */

.slideshow-container {
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  max-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  box-shadow: 0px 1px 3px;
}

.mySlides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .85}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .85}
  to {opacity: 1}
}

.slideshow-container img {
  height: 100%;
}

.info {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.infoteksti {
  max-width: 1040px;
  font-size: 19.5px;
  padding-right: 40px;
}

.infoteksti h1 {
  font-size: 25px;
  color:#E9724C;
  padding-bottom: 10px;
}

.logo-et {
  max-width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* PALVELUT-SIVU */

.palvelut {
  list-style:none;
  line-height: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: table;
  flex-wrap: wrap;
  margin:0 auto;
} 

.palvelut h2 {
  margin-top: 27px;
  font-size: 33px;
}

.palvelut p {
  margin-bottom: 50px;
  font-weight: bold;
}

/* PALAUTELOMAKE-SIVU */

.keskita {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin: auto;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.palaute_painike {
  background-color: #E9724C;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 19.5px;
}

.palaute_painike:hover {
  transition: 0.5s;
  background-color: #b85232;
  color: white;
}

#palauteotsikko {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 8px;
}

.palaute_nimi {
  width: 100%;
  height: 45px;
  padding: 12px 5px;
  border: 5px solid #ccc;
  border-radius: 4px;
  background-color: #24252a;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.palaute_sposti {
  width: 100%;
  height: 45px;
  padding: 12px 5px;
  border: 5px solid #ccc;
  border-radius: 4px;
  background-color: #24252a;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.palaute_textarea {
  width: 100%;
  height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px solid #ccc;
  border-radius: 4px;
  background-color: #24252a;
  resize: none;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  color: white;
}


/* MOBIILIOPTIMOINTI */
@media only screen and (max-width: 900px){

.nav-links {
  display: none;
}

.mobile-nav-links {
  position: absolute;
  right: 0;
  top: 115px;
  list-style: none;
  background-color: #24252a;
  text-align: center;
  padding: 10px;
  width: 100%;
  z-index: 99;
}

.mobile-nav-links a:hover {
  color: #E9724C;
}

.mobile-nav-links #menu {
  display: none;
}

.mobile-nav-links a{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.mobile-nav-links li{
  padding: 20px 10px;
  border:  1.4px solid #2d3038;
  border-left: 0;
  border-right: 0;
}

.menuburger {
  display: block;
}

.menuburger p{
  color:white;
  font-weight: bold;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.menuburger p:hover{
  color: #E9724C;
}

.wrapper {
  width: 95%;
}

.mapouter {
  height: 300px;
}


}